<% content_for "page_title" do %>
  Main Page
<% end %>

<% content_for "style" do %>
  <style>
  .m-body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  }
  </style>
<% end %>

<div class="m-body">  
  <center><h1>TEST PAGE</h1></center>
  <center><img src="/images/test.png" alt="fuck"></center><br>
</div>
