<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Test App: <%= yield_content "page_title" %></title>
    <%= yield_content "style" %>
  </head>
  <body>
    <%= content %>
  </body>
</html>
